.footer {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: #666;
  background-color: black;
  z-index: 10;
}

.footer-links {
  margin-bottom: 0.5rem;
}

.footer-links a {
  pointer-events: auto;
  margin: 0 0.75rem;
  text-decoration: none;
  color: #4d26eb;
  transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
  color: #0056b3;
}